# Python
__pycache__/
*.pyc

# Ambiente
.env

# Node
node_modules/

# WhatsApp sessão
auth/

# Dados privados
dados/usuarios/
dados/memoria/

# Logs
dados/logs/

# Sistema
.vscode/
.idea/

# Arquivos temporários
*.log